@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
:root{
    --cor01:#4d9444;
    --cor02:rgb(93, 184, 93);
    --cor03:#257c19;
    --cor04:#023306;
    --cor05:rgb(139, 214, 139);
    --cor06:#226312;
    --cor07:#439914;
    --cor08:rgba(24, 255, 3, 0.89);
    --fonte1:"Staatliches", sans-serif;
}
body{
    background-color: white;
}
header {
    background-image:linear-gradient(to top left, var(--cor06) ,var(--cor07), var(--cor01)) ;
    min-height: 110px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.267);
}
header h1{
    font-size: 5em;
    font-family: var(--fonte1);
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.637);
    margin-bottom: 8px;
    text-align: center;
}
#titulo2 {
    text-decoration: none;
    color: var(--cor08);
    font-family: "Staatliches";
}
header span{
    font-size: 0.5em;
    font-family: var(--fonte1);
    color: hsl(115, 62%, 45%);
}
nav{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
nav li{
    display: inline;
}

header  nav  a, nav span  {
    font-size: 1.5em;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
nav a:hover, nav span:hover{
    background-color: var(--cor03);
    color: white;
}
.dropdown-menu{
    display: none;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} 
.dropdown-menu a{
    display: block;
    color: white;
    background-color: #257c19;
    transition: all 0.4s;
}
.dropdown-menu a:hover {
    background-color:rgb(236, 235, 235);
    color: var(--cor03);
}
.dropdown:hover .dropdown-menu{
    display: block;
}
p{
    text-indent: 10px;
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: bold;
}
.centro{
    text-align: center;
    color: var(--cor03);
    max-width: 80%;
    margin: auto;
    padding: 40px;
}
.centro h2{
    color: var(--cor01);
    font-size: 2.5em;
    font-family: var(--fonte1);
}
.text h2 {
    font-size: 2.5em;
    color: var(--cor01);
    font-family: var(--fonte1);
    text-align: center;
}
.text h3{
    font-size: 1.5em;
    font-family: var(--fonte1);
}
.imgtext{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-top:10px ;
    padding-bottom:10px;
    text-align: center;
}
.textimg{
    padding-top:10px ;
    padding-bottom:10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;

}
.text{
    max-width: 400px ;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--cor03);
}
img{
    width: 50%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.548);
}
#ctn-areas{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.areas{
    background-color:var(--cor05);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px 10px 0px;
    min-height: 200px;
    font-size: 1em;
    width: 400px;
    color: white;
    transition: 0.5s;
    border:solid var(--cor06)  ;
}
.areas a {
    text-decoration: none;
}
.areas h3{
    color: var(--cor07);
    font-size: 2em;
    font-family: var(--fonte1);
}
.areas:hover{
    cursor: pointer;
}
#ctn-areas:hover > :not(:hover){
    opacity: 80%;
    scale: 0.97;
}
.ctn-titulo{
    font-size: 2.3em;
    text-align: center;
    color: var(--cor07);
    padding: 10px;
}
.ctn-titulo h1{
    font-family: var(--fonte1);
}
aside{
    width: 90%; 
    background-color: var(--cor01);
    margin-top: 30px;
    border-radius: 10px;
    border:dashed rgba(0, 0, 0, 0.151);
    margin: auto;
    margin-bottom: 20px;
}
aside h1{
    color: var(--cor1);
    text-shadow: black 1px 1px 1px;
}
.lista{
    font-size: 1.3em;
    list-style-position: inside;
    margin-left: 10px;
    color:white;
}
ol{
    list-style-position: inside;
}
.lista li{
    min-height:40px ;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
footer{
    background-color:black;
    height: 100px;
    color: white;
    text-align: center;
}
footer > p{
    padding-top:50px;
}
.modelo-informativo{
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.411);
    margin-top: 30px;
    margin-bottom: 30px;
}
#modelo-informativo-body{
    background-color: rgb(228, 225, 225);
}
#modelo-informativo-body article{
    background-color: white;
}
.modelo-informativo-main{
    background-color: rgb(228, 225, 225);
}
.modelo-informativo-main p {
    color:  black;
    font-weight: normal;
    text-align:start;
}
.imgtext p{
    text-align: center;
}
.text-info{
    padding: 15px;
}
.text-info h2{
    color: var(--cor01);
    text-align: center;
    margin-bottom: 7px;
    font-size: 2em;
    font-weight: bold;
}
.text-info h1{
    font-size:2.3em;
    color: var(--cor01);
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.text-info h4{
    font-size: 1.7em;
    color: var(--cor01);
    font-weight: normal;
}
.text-info h3{
    font-size:1.8em;
    color: var(--cor01);
    text-indent: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}
.text-info strong{
    color: var(--cor04);
}
.text-info p {
    color: rgb(33, 37, 41);
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
}
.img-info{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.modelo-informativo-main a {
    color: #1605a8;
    text-decoration: none;
}
.list-info{
    list-style-position: inside;
    margin-left: 5%;
    font-size: 1.2em;
}
.list-info li{
    min-height: 30px;
    font-weight: normal;
    color: rgb(33, 37, 41);
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
}
a{
    text-decoration: none;
}
@media (max-width:768px){
    a{
        text-decoration: none;
    }
    header h1{
        font-size: 4em;
    }
    header h1 span{
        display: block;
    }
    nav a{
        line-height: 35px;
        }
    .imgtext{
        flex-wrap: wrap-reverse;
        margin-left: 0px;
        margin-right: 0px;
    }
    .textimg{
        flex-wrap: wrap;
        margin-left: 0px;
        margin-right: 0px;
    }
    .centro{
        padding: 10px;
        max-width: 100%;
    }
    img{
        margin: auto;
    }
    .text{
        font-size: 1.1em;
        padding-left:15px ;
        padding-right:15px ;
        max-width: 100%;
        text-align: center;
    }
    aside{
        width: 95%;
    }
    aside ul{
        margin-top:-20px ;
        
    }
}
    @media (min-width:768px) , (max-width:1024px){

    }
